<div *ngIf="errMsg" class="alert alert-danger">
  {{errMsg}}
</div>

<div class="cricket">
  <cdk-accordion class="example-accordion" >
    <cdk-accordion-item
      #cricket="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' "
      [attr.aria-expanded]="cricket.expanded"
      [attr.aria-controls]="'accordion-body-' ">
      <div class="example-accordion-item-header bg-info text-dark" (click)="cricket.toggle()">
        <h3 class="font-weight-bolder acco-header">Cricket</h3>
        <span class="example-accordion-item-description">
          <span class="h3 text-dark">{{ cricket.expanded ? '-' : '+'}}</span>
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="cricket.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-'"
        [attr.aria-labelledby]="'accordion-header-'">
       <table class="table table-striped">
        <tr *ngFor="let data of cricketData" class="oddData">
          <td>{{data.eventName}} <sup class="text-success font-weight-bolder">InPlay</sup></td>
        </tr>
       </table>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

<div class="soccer">
  <cdk-accordion class="example-accordion" >
    <cdk-accordion-item
      #soccer="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' "
      [attr.aria-expanded]="soccer.expanded"
      [attr.aria-controls]="'accordion-body-' ">
      <div class="example-accordion-item-header  bg-info text-dark" (click)="soccer.toggle()">
        <h3  class="font-weight-bolder acco-header">Soccer</h3>
        <span class="example-accordion-item-description">
          <span class="h3 text-dark">{{ soccer.expanded ? '-' : '+' }}
          </span>
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="soccer.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-'"
        [attr.aria-labelledby]="'accordion-header-'">
        <table class="table table-striped">
          <tr *ngFor="let data of soccerData" class="oddData">
            <td>{{data.eventName}} <sup class="text-success font-weight-bolder">InPlay</sup></td>
          </tr>
         </table>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
</div>

 <div class="tennis">
  <cdk-accordion class="example-accordion" >
    <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="'accordion-header-' "
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="'accordion-body-' ">
      <div class="example-accordion-item-header bg-info text-dark" (click)="accordionItem.toggle()">
        <h3  class="font-weight-bolder acco-header">Tennis</h3>
        <span class="example-accordion-item-description">
           <span class="h3 text-dark">{{ accordionItem.expanded ? '-' : '+'}}</span>
        </span>
      </div>
      <div
        class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="'accordion-body-'"
        [attr.aria-labelledby]="'accordion-header-'">
        <table class="table table-striped">
          <tr *ngFor="let data of tennisData" class="oddData">
              <td>{{ data.eventName }} <sup class="text-success font-weight-bolder">InPlay</sup></td>
            </tr>
         </table>
      </div>
    </cdk-accordion-item>
  </cdk-accordion>
 </div>
 <!-- <p class="alert alert-danger">{{errMsg}}</p> -->